@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.3rem;
}

h1, h2 {
  color: hsl(234, 12%, 34%);
}

p {
  color: hsl(229, 6%, 66%);
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
html body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  max-width: 1440px;
  background-color: hsl(0, 0%, 98%);
  padding-top: 85px;
}
html body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
html body header h1 {
  white-space: pre;
  padding-bottom: 15px;
  line-height: 1.4em;
}
html body header span {
  font-weight: 200;
}
html body header p {
  width: 60%;
}
html body main {
  margin: 0 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
  height: auto;
  padding: 60px;
}
html body main .card {
  width: 350px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  padding: 27px 32px;
  box-shadow: 0 10px 15px 5px hsla(211, 92%, 31%, 0.082);
  background-repeat: no-repeat;
  background-position: bottom 32px right 32px;
}
html body main .card h2 {
  padding-bottom: 10px;
}
html body main .card p {
  font-size: 13px;
  font-weight: 400;
}
html body main .card-1 {
  background-image: url(../images/icon-supervisor.svg);
  border-top: 5px solid hsl(180, 62%, 55%);
  position: relative;
  top: 140px;
  grid-column: 1/2;
}
html body main .card-2 {
  background-image: url(../images/icon-team-builder.svg);
  border-top: 5px solid hsl(0, 78%, 62%);
  grid-column: 2/3;
}
html body main .card-3 {
  background-image: url(../images/icon-karma.svg);
  border-top: 5px solid hsl(34, 97%, 64%);
  grid-column: 2/3;
}
html body main .card-4 {
  background-image: url(../images/icon-calculator.svg);
  border-top: 5px solid hsl(212, 86%, 64%);
  position: relative;
  bottom: 140px;
  grid-column: 3/3;
}
html body footer {
  margin: 0;
  padding: 0;
}
html body footer .attribution {
  font-size: 11px;
  text-align: center;
}
html body footer .attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1166px) {
  html body main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  html body main .card-1 {
    top: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  html body main .card-2 {
    grid-column: 1/2;
    grid-row: 2/2;
  }
  html body main .card-3 {
    grid-column: 2/2;
    grid-row: 1/2;
  }
  html body main .card-4 {
    bottom: 0;
    grid-column: 2/2;
    grid-row: 2/2;
  }
}
@media only screen and (max-width: 788px) {
  html body header h1 {
    font-size: 5.75vw;
  }
  html body header p {
    font-size: 15px;
    max-width: 90vw;
    min-width: 60vw;
  }
  html body main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 35px;
    padding-left: 0;
    padding-right: 0;
  }
  html body main .card {
    background-size: 17%;
    width: 312px;
    height: 219px;
  }
}/*# sourceMappingURL=styles.css.map */